/*
.book-body {
    background: #220036;  
}

.markdown-section {
    color: #17154D;
}
*/

/* .color-theme-2 #book-search-input {
    color: #f4f4f5;
    background-color: #252737;  
}

.color-theme-2 .search-results-item {
    color: #bdcadb !important;
} */

body {
    font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.gitbook-link {
    display: none !important
}