.book-body {
    background: #220036;  
}

body {
    font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.markdown-section {
    color: #17154D;
}
/*
.gitbook-link {
    display: none !important
}
*/